<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="ram">
    <th mat-header-cell *matHeaderCellDef> ram </th>
    <td mat-cell *matCellDef="let element"> {{element.ram}} </td>
  </ng-container>

    <ng-container matColumnDef="cpu">
    <th mat-header-cell *matHeaderCellDef> cpu </th>
    <td mat-cell *matCellDef="let element"> {{element.cpu}} </td>
  </ng-container>

    <ng-container matColumnDef="io">
      <th mat-header-cell *matHeaderCellDef> io </th>
      <td mat-cell *matCellDef="let element"> {{element.io}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
